{% block content %}
<html>
    <head>
        <h1>Job Description</h1>
    </head>
    <body>
        <div>
            <table>
                {% for j in job %}
                <tr>
                    <th>Job Title: </th>
                    <td>{{j.3}}</td>
                </tr>
                <tr>
                    <th>Company: </th>
                    <td>{{j.2}}</td>
                </tr>
                <tr>
                    <th>Profession: </th>
                    <td>{{j.5}}</td>
                </tr>
                <tr>
                    <th>Location: </th>
                    <td>{{j.6}}</td>
                </tr>
                <tr>
                    <th>Requirements: </th>
                    <td>{{j.7}}</td>
                </tr>
                <tr>
                    <th>Description: </th>
                    <td>{{j.8}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
{% endblock %}