{% extends 'career/baseauth.html' %}

{% block content %}

<div class="container">
    <h2 style="margin-top: 20px;">Job List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Company</th>
                <th>Profession</th>
                <th>Location</th>
                <th>Requirements</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{job.7}}</td>
                <td>{{job.3}}</td>
                <td>{{job.9}}</td>
                <td>{{job.10}}</td>
                <td>{{job.11}}</td>
                <td>
                    <button class="btn btn-outline-primary btn-sm" onclick="location.href='/job-detail/{{post.2}}'" type="button">
                        View Details
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
