{% extends 'career/baseauth.html' %}

{% block content %}

<div class="h-100 d-flex align-items-center justify-content-center mt-5">
    <div>
        <tr>
            <div class="card" style="width: 48rem;">
                <div class="card-body">
                    <h2 class="card-title">Profile page for @{{user.2}}</h2>
                    <hr/>
                    <p class="card-title"><b>Full Name:</b> {{user.1}}</p>
                    <p class="card-title"><b>Email Address:</b> {{user.4}}</p>
                    <p class="card-title"><b>Registeration Date:</b> {{user.6}}</p>
                    <p class="card-title"><b>Account Type:</b> {{user.7}}</p>
                    <hr/>
                    <p class="card-title"><b>Account Type:</b> {{user.7}}</p>
                    <hr/>
                    {% if current_user_id == user.0 %}
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >
                            Edit Profile
                        </button>
                        <br><br>
                        <div class="alert alert-warning" role="alert">
                            THATS YOUR PROFILE.
                        </div>
                    {% elif current_user_type == 'CareerExpert' and profile_user_type == 'RegularUser'%}
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >
                            Grade this profile!
                        </button>
                        <br><br>
                        <div class="alert alert-danger" role="alert">
                            THATS NOT YOUR PROFILE.
                        </div>
                    {% else %}
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >
                            Add connection!
                        </button>
                        <br><br>
                        <div class="alert alert-danger" role="alert">
                            THATS NOT YOUR PROFILE.
                        </div>
                    {% endif %}
                </div>
            </div>
        </tr>
        <br>
    </div>
</div>

{% comment %} <div>
    {% if user_type.0 == 'Job Hunter' %}
        <table>
            <tr>
                <th>({{user}})</th>
                <th>Name:</th>
                <td>{{user.2}}</td>
            </tr>
            <tr>
                <th>Date of Birth: </th>
                <td>{{user_info.0.1}}</td>
            </tr>
            <tr>
                <th>E-Mail Address: </th>
                <td>{{user_info.0.2}}</td>
            </tr>
            <tr>
                <th>DP URL: </th>
                <td>{{user_info.0.3}}</td>
            </tr>
            <tr>
                <th>Username: </th>
                <td>{{user_info.0.4}}</td>
            </tr>
            <tr>
                <th>Password: </th>
                <td>{{user_info.0.5}}</td>
            </tr>
            <tr>
                <th>Profession: </th>
                <td>{{user_info.0.6}}</td>
            </tr>
            <tr>
                <th>Current Company: </th>
                <td>{{user_info.0.7}}</td>
            </tr>
            <tr>
                <th>Skills: </th>
                <td>{{user_info.0.8}}</td>
            </tr>
            <tr>
                <th>Portfolio URL: </th>
                <td>{{user_info.0.9}}</td>
            </tr>
            <tr>
                <th>Career Grade: </th>
                <td>{{user_info.0.10}}</td>
            </tr>
        </table>
    {% elif user_type.0 == 'Recruiter' %}
        <table>
            <tr>
                <th>Name: </th>
                <td>{{user_info.0.0}}</td>
            </tr>
            <tr>
                <th>Date of Birth: </th>
                <td>{{user_info.0.1}}</td>
            </tr>
            <tr>
                <th>E-Mail Address: </th>
                <td>{{user_info.0.2}}</td>
            </tr>
            <tr>
                <th>DP URL: </th>
                <td>{{user_info.0.3}}</td>
            </tr>
            <tr>
                <th>Username: </th>
                <td>{{user_info.0.4}}</td>
            </tr>
            <tr>
                <th>Password: </th>
                <td>{{user_info.0.5}}</td>
            </tr>
            <tr>
                <th>Profession: </th>
                <td>{{user_info.0.6}}</td>
            </tr>
            <tr>
                <th>Current Company: </th>
                <td>{{user_info.0.7}}</td>
            </tr>
            <tr>
                <th>Skills: </th>
                <td>{{user_info.0.8}}</td>
            </tr>
        </table>
    {% elif user_type.0 == 'CareerExpert' %}
        <table>
            <tr>
                <th>Name: </th>
                <td>{{user_info.0.0}}</td>
            </tr>
            <tr>
                <th>Date of Birth: </th>
                <td>{{user_info.0.1}}</td>
            </tr>
            <tr>
                <th>E-Mail Address: </th>
                <td>{{user_info.0.2}}</td>
            </tr>
            <tr>
                <th>DP URL: </th>
                <td>{{user_info.0.3}}</td>
            </tr>
            <tr>
                <th>Username: </th>
                <td>{{user_info.0.4}}</td>
            </tr>
            <tr>
                <th>Password: </th>
                <td>{{user_info.0.5}}</td>
            </tr>
            <tr>
                <th>Profession: </th>
                <td>{{user_info.0.6}}</td>
            </tr>
            <tr>
                <th>Current Company: </th>
                <td>{{user_info.0.7}}</td>
            </tr>
            <tr>
                <th>Skills: </th>
                <td>{{user_info.0.8}}</td>
            </tr>
        </table>
    {% elif user_type.0 == 'Admin' %}
        <table>        
            <tr>
                <th>Name: </th>
                <td>{{user_info.0.0}}</td>
            </tr>
            <tr>
                <th>E-Mail Address: </th>
                <td>{{user_info.0.1}}</td>
            </tr>
            <tr>
                <th>DP URL:</th>
                <td>{{user_info.0.2}}</td>
            </tr>
            <tr>
                <th>Username: </th>
                <td>{{user_info.0.3}}</td>
            </tr>
            <tr>
                <th>Password: </th>
                <td>{{user_info.0.4}}</td>
            </tr>
        </table>
    {% else %}
        <h2>Wrong User Type! Please Login Again.</h2>
    {% endif %}
</div> {% endcomment %}

{% endblock %}